@import '../../index.scss';

.catalog_main--container {
    width: $w-main;
    padding: 10px;
    p {
        @include lg-bold-white;
    }
    .catalog_musics--container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: $breakpoint-tablet) {
    $w-sidebar: 17rem;
    $w-main: calc(100vw - #{$w-sidebar});

    .catalog_main--container {
        width: $w-main;
        padding: 12px;
    }
}
    