* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

$red-principal: #E86060;
$dark-red-secondary: #662323;
$light-red: #FF7676;
$gray: #828282;
$soft-gray: #BDBDBD;

$w-sidebar: 9rem;
$w-footer: 5rem;
$w-main: calc(100vw - #{$w-sidebar});

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1042px;

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	background-color: #E5E5E5;
    .upper_content {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .sidebar {
            width: $w-sidebar;
            height: calc(100vh - #{$w-footer});
            overflow: auto;
            background-color: $dark-red-secondary;
            &::-webkit-scrollbar {
                width: 0.5px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: black;
                border-radius: 10px;
            }
        }
        .main_content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            width: $w-main;
            height: calc(100vh -  #{$w-footer});
            nav {
                width: 100%;
                height: 70px;
            }
            main {
                flex-grow: 1;
                width: 100%;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 0.5px;
                }
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px grey;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background: black;
                    border-radius: 10px;
                }
            }
        }
    }
    footer {
        width: 100vw;
        height: $w-footer;
        background-color: #EB5757;
    }
}


$lh-xs: 0.9rem;
@mixin md-regular-white {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: #C4C4C4;
    @media only screen and (min-width: 768px) {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}
@mixin sm-regular-white {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #C4C4C4;
    @media only screen and (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
@mixin xs-regular-white-lineheight-20-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #C4C4C4;
    @media only screen and (min-width: 768px) {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
}
@mixin xs-regular-qs {
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #828282;
    @media only screen and (min-width: 768px) {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
}
@mixin lg-bold-white {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #C4C4C4;
    @media only screen and (min-width: 768px) {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
@mixin sm-bold-qs {
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #555555;
    @media only screen and (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
@mixin reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

@media (min-width: $breakpoint-tablet) {
    $w-sidebar: 17rem;
    $w-footer: 6rem;
    $w-main: calc(100vw - #{$w-sidebar});

    #root{
        .upper_content {
            .sidebar {
                width: $w-sidebar;
                height: calc(100vh - #{$w-footer});
            }
            .main_content {
                width: $w-main;
                height: calc(100vh -  #{$w-footer});
            }
        }
        footer {
            height: $w-footer;
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop) {
    
}